@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

.texto{
    font-size: 85px;
    display: flex;
    margin-left: 200px;
    
}


.rodape { 
    bottom: 0;
    left: 0;
    width: 90%;
    text-align: left;
    margin-left: 50px;
    margin-top: 250px;
  }









